In [1]:
import pandas as pd
from pandas import *
import numpy as np
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['info', 'unique', 'datetime']
`%matplotlib` prevents importing * from pylab and numpy

In [5]:
#Histogramming and Discretization
#select random integer between 0 to 7 exclusive and size will be 10
s = Series(np.random.randint(0, 7, size=10))

In [7]:
 s

0    3
1    2
2    1
3    4
4    3
5    0
6    4
7    1
8    5
9    3
dtype: int32

In [8]:
#values count will count the number of occurance of particular integer
s.value_counts()

3    3
4    2
1    2
5    1
2    1
0    1
dtype: int64

In [22]:
#String Methods
s=Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [23]:
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [24]:
#change the cases to lowercase
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [18]:
#concat
df =DataFrame(np.random.randn(10, 4))

In [16]:
df

          0         1         2         3
0  0.495045 -0.637377 -1.676576  1.224666
1  1.287632 -1.608770  2.061000 -0.785779
2  0.393800  1.865230 -0.380113  0.011777
3  1.474780 -1.031376 -1.030442 -0.915209
4 -0.424851 -0.048529 -0.717051 -0.898209
5 -0.638841 -0.029879  1.698875  0.823304
6  0.543104  0.640218  0.290018  1.646979
7  0.097217  1.366281  0.435116 -1.235855
8 -0.584259 -0.141436 -0.704299 -0.445780
9  0.110587 -1.747822 -0.481884  0.467003

In [19]:
#If u dont like tublar farm use follwing code 
pd.set_option('display.notebook_repr_html', False)

In [20]:
df

          0         1         2         3
0 -0.429600  0.177366 -0.636609  0.738822
1 -1.743312 -0.465851 -1.113130  0.306863
2  1.111618  0.223389 -0.264295 -0.535412
3  0.549164 -0.041487 -0.118143  0.017942
4 -1.514630 -0.425706  1.133264  1.142181
5 -0.629536 -0.257451  0.864320 -0.725595
6 -1.230845 -0.922363  1.552901  0.429792
7 -1.084674  3.048340  0.459099 -1.428281
8 -0.230929 -1.991635 -0.223012 -0.027129
9  0.581938 -0.164325 -0.117785 -0.789110

In [25]:
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]

In [26]:
pieces

[          0         1         2         3
 0 -0.429600  0.177366 -0.636609  0.738822
 1 -1.743312 -0.465851 -1.113130  0.306863
 2  1.111618  0.223389 -0.264295 -0.535412,
           0         1         2         3
 3  0.549164 -0.041487 -0.118143  0.017942
 4 -1.514630 -0.425706  1.133264  1.142181
 5 -0.629536 -0.257451  0.864320 -0.725595
 6 -1.230845 -0.922363  1.552901  0.429792,
           0         1         2         3
 7 -1.084674  3.048340  0.459099 -1.428281
 8 -0.230929 -1.991635 -0.223012 -0.027129
 9  0.581938 -0.164325 -0.117785 -0.789110]

In [28]:
#we can concate the different dataframe to single
pd.concat(pieces)

          0         1         2         3
0 -0.429600  0.177366 -0.636609  0.738822
1 -1.743312 -0.465851 -1.113130  0.306863
2  1.111618  0.223389 -0.264295 -0.535412
3  0.549164 -0.041487 -0.118143  0.017942
4 -1.514630 -0.425706  1.133264  1.142181
5 -0.629536 -0.257451  0.864320 -0.725595
6 -1.230845 -0.922363  1.552901  0.429792
7 -1.084674  3.048340  0.459099 -1.428281
8 -0.230929 -1.991635 -0.223012 -0.027129
9  0.581938 -0.164325 -0.117785 -0.789110

In [30]:
left =DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [31]:
left

   key  lval
0  foo     1
1  foo     2

In [32]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [33]:
right

   key  rval
0  foo     4
1  foo     5

In [36]:
merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [37]:
#Append
df =DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

In [38]:
df

          A         B         C         D
0  0.545124 -0.079558  0.081007 -0.484327
1 -1.686552  0.594189  0.929778 -0.611675
2  0.398393 -0.288892  0.511899 -0.414099
3 -0.213416 -0.087146 -0.632838  1.611546
4 -0.429184  0.486033  0.372641  0.394388
5  0.419816  1.018705 -0.267500 -1.046222
6 -0.298234  0.154528 -2.234934 -1.644752
7  0.177835  1.311411  1.164338 -0.594546

In [42]:
s = df.iloc[3]
s

A   -0.213416
B   -0.087146
C   -0.632838
D    1.611546
Name: 3, dtype: float64

In [45]:
#if ignore_index will be true then u will be ended up setting the last index as 3
df.append(s, ignore_index=True)

          A         B         C         D
0  0.545124 -0.079558  0.081007 -0.484327
1 -1.686552  0.594189  0.929778 -0.611675
2  0.398393 -0.288892  0.511899 -0.414099
3 -0.213416 -0.087146 -0.632838  1.611546
4 -0.429184  0.486033  0.372641  0.394388
5  0.419816  1.018705 -0.267500 -1.046222
6 -0.298234  0.154528 -2.234934 -1.644752
7  0.177835  1.311411  1.164338 -0.594546
8 -0.213416 -0.087146 -0.632838  1.611546

In [47]:
#Grouping
df = DataFrame({ 'A' : ['foo', 'bar', 'foo', 'bar',
                    'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                    'two', 'two', 'one', 'three'],
                     'C' : np.random.randn(8),
                     'D' : np.random.randn(8)})

In [48]:
df

     A      B         C         D
0  foo    one  1.266045  2.490171
1  bar    one -0.268765 -0.287407
2  foo    two  2.629166  1.257915
3  bar  three -0.498144  0.014129
4  foo    two -1.386923  0.259933
5  bar    two -0.409681  1.512999
6  foo    one -1.730852 -1.141871
7  foo  three  1.135316  1.499529

In [49]:
#Grouping and then applying a function sum to the resulting groups.
df.groupby('A').sum()

            C         D
A
bar -1.176590  1.239721
foo  1.912753  4.365676

In [51]:
#Group by multiple column
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.268765 -0.287407
    three -0.498144  0.014129
    two   -0.409681  1.512999
foo one   -0.464806  1.348300
    three  1.135316  1.499529
    two    1.242243  1.517847

In [54]:
#Reshaping
#just like pairing the one to one 
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two','one', 'two', 'one', 'two']]))

In [55]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [58]:
index = MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [59]:
index

MultiIndex(levels=[[u'bar', u'baz', u'foo', u'qux'], [u'one', u'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=[u'first', u'second'])